<div class="container">
  <div class="wrapper">
    <div class="container-title text-center">
      <h1>Register a new task</h1>
      <hr>
    </div>

    <%= render 'form', task: @task %>
    <hr>

    <div class="container-links">
      <%= link_to tasks_path do %>
        <i class="fas fa-history"></i> Back to list
      <% end %>
    </div>
  </div>
</div>
