<%= link_to edit_task_path(@task.id), class: 'pull-right btn btn-default' do %>
  <i class="far fa-pencil"></i> Edit this task
<% end %>

<h1><%= @task.title %></h1>

<p class="well"><%= @task.details %></p>

<% if @task.completed %>
  <i class="far fa-check-square"></i> This task is completed
<% else %>
  <i class="far fa-square"></i> This task is not completed yet
<% end %>

<hr>
<%= link_to tasks_path do %>
  <i class="far fa-history"></i> Back to list
<% end %>
